<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Movie and TV shows database">
    <meta name="keywords" content="Movies, Actors, TV Shows, Animes, Cinema, Films, Action, Drama, Fantasy, Directors, Movie news" />
    <title>@ViewData["Title"] - Filmly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Shared/loader.css" />
    <link rel="stylesheet" href="~/css/Shared/main.css" />
    <link rel="stylesheet" href="~/css/Shared/navigatior.css" />
    <link rel="stylesheet" href="~/css/Shared/footer.css" />
    <link rel="stylesheet" href="~/css/Shared/colorThemes.css" />
    @RenderSection("heads", required: false)
</head>
<body>
    <header>
        <partial name="_NavigationPartial" />
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <i class="fas fa-lg text-mainColor fa-chevron-up" id="scrollArrow"></i>
    <partial name="_LoaderPartial" />
    <partial name="_Footer" />
    @if (!string.IsNullOrEmpty((string)TempData["notice"]))
    {
        <span class="notice @TempData["noticeBackground"]" id="noticeBox"><span>@TempData["notice"]</span></span>
    }

    <script>
        var noticeBox = document.getElementById("noticeBox")
        if (noticeBox) {
            noticeBox.addEventListener('click', () => {
                noticeBox.classList.add("closed")
            })
            setTimeout(() => {
                noticeBox.classList.add("closed")
            }, 4800);
            noticeBox.classList.add("activated")
        }
    </script>
    <script src="~/js/Themes.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Loader.js?version=1" asp-append-version="true"></script>
    <script src="~/js/TopNavigator.js" asp-append-version="true"></script>
    <script src="~/js/genresSlider.js" asp-append-version="true"></script>
    <script>
        function copyDiscordName() {
            var button = document.getElementById('discordLink')
            if (!button.classList.contains('used')) {
                copyToClipboard('Ивайло Чавдаров#5796')
                button.classList.add('used')
                var popup = document.getElementById("discordPopup");
                popup.classList.toggle("show");
                setTimeout(() => {
                    button.classList.remove('used');
                    popup.classList.toggle("show");
                }, 2500)
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
