@model FavouritesOfVM
@section heads{
    <link href="@Url.Content("~/css/Identity/accountNavigation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Collections/userCollection.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Collections/foreignUserFavourites.css")" rel="stylesheet" type="text/css" />
}
@if (string.IsNullOrEmpty(Model.ErrorMessage))
{
    ViewData["Title"] = Model.Name + "'s favourites";
    if (Model.UserData != null)
    {
        <div class="row">
            <div class="col-md-3 account-nav-container">
                <partial name="_AccountNavigation" />
            </div>
            <div class="col-md-9">
                    <div class="account-page-content">
                        <div class="foreign-user-header">
                            <img src="@Model.Image" alt="Alternate Text" />
                            <h3>
                                @Model.Name's favourites
                                @if (Model.SameUser)
                                {
                                    <button type="button" data-toggle="modal" data-target="#shareModal" class="NoLoader">Share</button>
                                }
                            </h3>

                        </div>
                        <ul class="user-collection-list">
                            @foreach (var title in Model.Favourites)
                            {
                                <li>
                                    <div class="list-image-container">
                                        <img src="@title.Image" alt="Alternate Text" />
                                    </div>
                                    <div class="list-text">
                                        <h5>
                                            @title.FullTitle
                                        </h5>
                                        <a asp-controller="titles" asp-action="details" asp-route-id="@title.IdInApi">Go to</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
            </div>
        </div>
        @if (Model.SameUser)
        {
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="share list modal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Share your favourites list with anyone by link or QR code</h5>
                            <button type="button" class="close NoLoader" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="#" alt="QR code" id="QR-code-share" />
                            <button class="NoLoader copy-link-button" id="copy-link-button" onclick="copyToClipboard(window.location.href)"></button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 pb-5">
                    <div class="account-page-content not-logged-user">
                        <div class="foreign-user-header"><img src="@Model.Image" alt="Alternate Text" /><h3>@Model.Name's favourites</h3></div>
                        <ul class="user-collection-list">
                            @foreach (var title in Model.Favourites)
                            {
                                <li>
                                    <div class="list-image-container">
                                        <img src="@title.Image" alt="Alternate Text" />
                                    </div>
                                    <div class="list-text">
                                        <h5>@title.FullTitle</h5>
                                        <a asp-controller="titles" asp-action="details" asp-route-id="@title.IdInApi">Go to</a>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    ViewData["Title"] = Model.ErrorMessage;
    <h2 class="btn-danger">@Model.ErrorMessage</h2>
}
@section scripts{ 
    <script>
        var QRCode = document.getElementById("QR-code-share")
        if (QRCode) {
            QRCode.src = "https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=" + window.location.href;
            document.getElementById("copy-link-button").innerHTML = window.location.href
        }
    </script>
}