@model UserFavouritesVM
@{
    ViewData["Title"] = "Favourites";
}
@section heads{
    <link href="@Url.Content("~/css/Identity/accountNavigation.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Collections/userCollection.css")" rel="stylesheet" type="text/css" />
}
<div>
    <div class="row">
        <div class="col-md-3 account-nav-container" >
            <partial name="_AccountNavigation" />
        </div>
        <div class="col-md-9">
            <div class="account-page-content">
                <h3>Your favourites</h3>
                <ul class="user-collection-list">
                    @foreach (var title in Model.Favourites)
                    {
                        <li>
                            <div class="list-image-container">
                                <img src="@title.Image" alt="Alternate Text" />
                                <a title="Remove from favourites"><i class="far fa-times-circle text-danger"></i></a>
                            </div>
                            <div class="list-text">
                                <h5>@title.FullTitle</h5>
                                <a asp-controller="titles" asp-action="details" asp-route-id="@title.IdInApi">Go to</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        window.onscroll = function () { manageAccountNavigation() };
        var navigation = document.getElementById("account-nav");

        // Get the offset position of the navbar
        var sticky = 75;
        console.log(sticky);

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function manageAccountNavigation() {

            if (window.pageYOffset >= sticky) {
                navigation.classList.add("stick-top")
            } else {
                navigation.classList.remove("stick-top");
            }
        }
        if (sessionStorage.getItem("AccountNavOpened") == "false") {
            document.querySelector('#account-nav').classList.add("closed")
        }
        console.log(sessionStorage.getItem("AccountNavOpened"));
        function closeAccountNav() {
            if (document.querySelector('#account-nav').classList.contains("closed")) {
                document.querySelector('#account-nav').classList.remove("closed")
                console.log("added");
                sessionStorage.setItem("AccountNavOpened", true);
            }
            else {
                document.querySelector('#account-nav').classList.add("closed")
                console.log("removed");
                sessionStorage.setItem("AccountNavOpened", false);
            }
        }
    </script>
}