@model HomePageData
<div class="showcase">
    <h2>Most popular TV series at the moment</h2>
    <div class="container card-deck align-content-center">
        @foreach (var title in Model.Top10MostPopularTVSeries)
        {
            <a asp-controller="titles" asp-action="details" asp-route-id="@title.Id">
                @if (title.Rank == "1" || title.Rank == "2" || title.Rank == "3")
                {
                    if (title.Rank == "1")
                    {
                        <i class="fas fa-crown first hiddenOnMobile"></i>
                    }
                    else if (title.Rank == "3")
                    {
                        <i class="fas fa-crown third hiddenOnMobile"></i>
                    }
                    else
                    {
                        <i class="fas fa-crown hiddenOnMobile"></i>
                    }
                }
                <div class="card">
                    <div class="image-container">
                        <img src="@title.Image" alt="@title.FullTitle" />
                    </div>
                    <content>
                        <h4>@title.Title</h4>
                        @if (title.ImDbRating != "")
                        {
                            <div class="rating-container">
                                <i class="star fas fa-star"></i><span>@title.ImDbRating on IMDb</span>
                            </div>
                            <p class="small">from @title.ImDbRatingCount votes</p>
                        }
                        <p class="medium">Staring @title.Crew</p>
                    </content>
                </div>
            </a>
        }
    </div>
</div>
<div class="showcase">
    <h2>Best rated TV series of all time</h2>
    <div class="container card-deck align-content-center">
        @foreach (var title in Model.Top10BestTVSeries)
        {
            <a asp-controller="titles" asp-action="details" asp-route-id="@title.Id">
                @if (title.Rank == "1" || title.Rank == "2" || title.Rank == "3")
                {
                    if (title.Rank == "1")
                    {
                        <i class="fas fa-crown first hiddenOnMobile"></i>
                    }
                    else if (title.Rank == "3")
                    {
                        <i class="fas fa-crown third hiddenOnMobile"></i>
                    }
                    else
                    {
                        <i class="fas fa-crown hiddenOnMobile"></i>
                    }
                }
                <div class="card">
                    <div class="image-container">
                        <img src="@title.Image" alt="@title.FullTitle" />
                    </div>
                    <content>
                        <h4>@title.Title</h4>
                        @if (title.ImDbRating != "")
                        {
                            <div class="rating-container">
                                <i class="star fas fa-star"></i><span>@title.ImDbRating on IMDb</span>
                            </div>
                            <p class="small">from @title.ImDbRatingCount votes</p>
                        }
                        <p class="medium">Staring @title.Crew</p>
                    </content>
                </div>
            </a>
        }
    </div>
</div>